@model admPregunta1.Models.Marin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Marin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FriendofMarin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendofMarin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.marinID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
